---
import logoImg from "../assets/images/homepage-image-001.png";
---

<footer class="w-full bg-white px-6 lg:px-[96px] py-[40px] lg:py-[80px]">
    <div class="max-w-[1110px] mx-auto flex flex-col lg:flex-row justify-between gap-[40px] lg:gap-[125px]">
        <div class="flex flex-col gap-[40px] lg:gap-[81px]">
            <div class="flex items-center">
                <img src={logoImg.src} alt="alcoris" class="h-[32px] w-[90px] object-contain" />
            </div>
        </div>
        <div class="flex flex-col gap-[24px] lg:ml-auto">
            <p class="text-[12px] font-bold tracking-[2px] leading-[14px] uppercase text-[rgba(9,20,35,1)]">Kontakt</p>
            <div class="flex flex-col gap-[24px]">
                <p class="opacity-70 text-[14px] font-semibold leading-[16px] text-left text-[rgba(26,26,31,1)]">alcoris Treuhand GmbH</p>
                <p class="opacity-70 text-[14px] font-semibold leading-[16px] text-left text-[rgba(26,26,31,1)]">Weststrasse 9, 3005 Bern</p>
                <a href="mailto:office@alcoris.ch" class="opacity-70 text-[14px] font-semibold leading-[16px] text-left underline text-[rgba(26,26,31,1)]">office@alcoris.ch</a>
            </div>
        </div>
    </div>
</footer>
