ENVIRONMENT='prod'

# Database
DB_USER=dummy
DB_PASSWORD=dummy
DB_NAME=dummy
DB_PORT=5432
# Database optionals
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=10

# General settings
FILESYSTEM=local # values: local, s3, azure
UPLOAD_SIZE_LIMIT=5 #unit: megabytes
APP_SECRET=dummy
PUBLIC_URL=http://localhost:8000

# Optional
AUTH_ALGORITHM=HS256
LOG_LEVEL=INFO
ENABLE_GRAPHQL=false
ENABLE_DOCS=false
ONLY_MIGRATE=false
NO_MIGRATE=false
LOCAL_PACKAGES=false # set to true to build @deepsel packages from local source instead of npm
NO_CLIENT=false # set to true to skip starting the Astro client (for dev when running client separately)
CLIENT_HOST=0.0.0.0
CLIENT_PORT=4321

# ClamAV (Optional), will scan if set
# CLAMAV_HOST=localhost

# AWS S3 (Optional)
S3_BUCKET=dummy
S3_BACKUP_BUCKET=dummy
S3_PRESIGN_EXPIRATION_MINUTES=5
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
AWS_REGION='dummy-region'

# Azure Blob Storage (Optional)
AZURE_STORAGE_CONNECTION_STRING='dummy'
AZURE_STORAGE_CONTAINER=dummy-container