@config "../../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary-50: #f5f5f5;
  --color-primary-100: #e7e7e7;
  --color-primary-200: #cdcdcd;
  --color-primary-300: #b2b2b2;
  --color-primary-400: #9a9a9a;
  --color-primary-500: #8b8b8b;
  --color-primary-600: #848484;
  --color-primary-700: #717171;
  --color-primary-800: #656565;
  --color-primary-850: #525252;
  --color-primary-900: #000000;
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
}