---
import type { PageData } from "@deepsel/cms-utils";
import PageFinance from "./components/PageFinance";
import Footer from "./components/Footer.astro";
import "./main.css";

interface Props {
    data: PageData;
}

const { data } = Astro.props;
---

<!DOCTYPE html>
<html lang={data.lang || 'de'}>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{data.seo_metadata?.title || 'Alcoris Treuhand'}</title>
    <meta name="description" content={data.seo_metadata?.description || ''} />
    <meta name="robots" content={data.seo_metadata?.allow_indexing ? 'index, follow' : 'noindex, nofollow'} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="min-h-screen flex flex-col bg-white">
        <PageFinance client:load pageData={data} />
        <Footer />
    </div>
</body>
</html>
