---
import type { BlogPostData } from "@deepsel/cms-utils";
import BlogPost from "./components/BlogPost";
import "./main.css";

interface Props {
    data: BlogPostData;
}

const { data } = Astro.props;
---

<!DOCTYPE html>
<html lang={data.lang || 'de'}>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{data.title ? `${data.title} | Alcoris Treuhand` : 'Alcoris Treuhand'}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <BlogPost client:load data={data} />
</body>
</html>
